* {
	font-family:'Lucida Grande', sans-serif;
}
body {
	background-color: #E0FFFF;
	margin: 0 15%;
}
img {
	padding:3px;	
}
span {
	font-size: 1.4em;
	padding:0 10px;
}
article { 
	background-color: white;
	padding:10px;
}
pre {
	border: none;
}
footer {
}
button.btn.btn-info {
	float: right;	
	margin-right: 5%;
}
p#inputlength {
	float: left;
	padding: 0 10px;
}
footer { 
	margin-top: 10px;
	}